@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, black, black, black, black, rgba(0, 0, 0, 0));
    position: absolute;
    z-index: 1;
    color: #fff;
    padding: 15px;
    width: 100%;
}

.navbar .logo {
    max-width: 250px;
    margin-left: 30px;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-right: 60px;
    margin-left: 60px;
    list-style: none;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.navbar ul li a:hover {
    color: #007BFF;
}

.navbar .usuario {
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar #nome_usuario {
    background-color: #007BFF;
    color: #fff;
    padding: 8px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
    transition: 0.2s ease-in-out;
}

.navbar #nome_usuario:hover {
    background-color: #007bff7c;
}

.navbar #entrar {
    color: white;
    text-decoration: none;
    padding: 2px 20px;
    background-color: #0056b3;
    border-radius: 20px;
    margin-right: 60px;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

#logout {
    max-width: 40px;
    cursor: pointer;
    margin-right: 20px
}

.section-title {
    color: #007bff;
    margin-bottom: 20px;
}

.feature-icon {
    font-size: 40px;
    color: #007bff;
}

.feature-box {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.feature-box:hover {
    transform: scale(1.05);
}

.feature-box h4 {
    margin-top: 10px;
    font-weight: bold;
}

.about-img {
    max-width: 100%;
    border-radius: 8px;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-text {
    flex: 1;
    padding: 20px;
}

.about-image {
    flex: 1;
    padding: 20px;
}

.testimonial-carousel img {
    max-width: 80px;
    border-radius: 50%;
    margin-right: 15px;
}

.testimonial {
    text-align: center;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.testimonial p {
    font-style: italic;
}

/* Estilo geral da caixa */
.service-box {
    position: relative;
    height: 250px;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Overlay (camada de opacidade) */
.service-box .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    /* Opacidade inicial */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Efeito de hover na caixa */
.service-box:hover .overlay {
    opacity: 1;
    /* Mostra a overlay quando o mouse passa por cima */
}

/* Títulos e textos */
.service-box h4 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.service-box p {
    font-size: 16px;
}

/* img { 
width: 100px;
height: 100px;
margin-right: 10px;
border-radius: 50%;
object-fit: cover;
background-color: white;
} */

/* NAO SEI OQ É IMG */

.nav-item {
margin-right: 40px;
}

/* Estilo geral */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f4f9;

}

/* main{
    height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
} */

/* Cabeçalho */
h2 {
    color: #007bff;
    margin-bottom: 20px;
    text-align: center;
}

/* Tabela de Alunos */
.table {
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
    text-align: center;
    padding: 15px;
}

.table-striped tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

/* Botões */
.btn {
    transition: background-color 0.3s ease;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

/* Modal */
.modal-content {
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.modal-header {
    background-color: #007bff;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.modal-header .btn-close {
    background-color: #fff;
    border: none;
    color: #007bff;
}

.modal-header .btn-close:hover {
    color: #0056b3;
}

.modal-body {
    padding: 20px;
}

.modal-body .form-label {
    font-weight: bold;
}

.modal-body .form-control {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

/* Responsividade */
@media (max-width: 768px) {

    .table th,
    .table td {
        font-size: 14px;
        padding: 10px;
    }
}

@media (max-width: 768px) {

    .navbar .logo {
        max-width: 250px;
        margin-left: auto;
        margin-top: 10px;
    }

    .navbar #nome_usuario {
        padding: 2px 8px;
    }

    .navbar #entrar {
        margin: 0;
    }

    #home_texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    #home_texto h1 {
        font-size: 40px;
    }

    #home_texto span {
        font-size: 50px;
    }

    #home_texto p {
        font-size: 18px;
    }

    #sobre {
        flex-direction: column;
        text-align: center;
    }

    #sobre_text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: auto;
        height: auto;
        margin-right: auto;
        margin-top: 40px;
    }

    #sobre_text h1 {
        text-align: center;
    }

    #sobre_text p {
        padding: 30px;
        margin: 0;
    }

    #sobre_text .saiba_mais {
        margin-bottom: 40px;
    }

    .img-sobre {
        width: 250px;
    }

    #servicos_container {
        grid-template-columns: none;
    }

    .footer p {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .navbar ul {
        visibility: hidden;
        opacity: 0;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        background: linear-gradient(180deg, black, black, black, black, rgba(0, 0, 0, 0));
        width: 100%;
        text-align: center;
        padding: 10px 0;
        transition: visibility 0s 0.5s, opacity 0.5s ease-in-out;
    }

    .navbar .logo {
        width: 155px;
    }

    .navbar ul.show {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s 0s, opacity 0.5s ease-in-out;
    }

    .navbar ul.hide {
        animation: slideOut 0.5s ease-in-out forwards;
    }

    .menu-icon {
        display: block;
    }

    .navbar ul li {
        margin-top: 10px;
        margin-bottom: 10px;
        list-style: none;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-20px);
        opacity: 0;
    }
}