@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, black, black, black, black, rgba(0, 0, 0, 0));
    position: absolute;
    z-index: 1;
    color: #fff;
    padding: 15px;
    width: 100%;
}

.navbar .logo {
    max-width: 250px;
    margin-left: 30px;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-right: 60px;
    margin-left: 60px;
    list-style: none;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.navbar ul li a:hover {
    color: #007BFF;
}

.navbar .usuario {
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar #nome_usuario {
    background-color: #007BFF;
    color: #fff;
    padding: 8px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
    transition: 0.2s ease-in-out;
}

.navbar #nome_usuario:hover {
    background-color: #007bff7c;
}

.navbar #entrar {
    color: white;
    text-decoration: none;
    padding: 2px 20px;
    background-color: #0056b3;
    border-radius: 20px;
    margin-right: 60px;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

#logout {
    max-width: 40px;
    cursor: pointer;
    margin-right: 20px
}


/* CONTEÚDO */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    text-align: center;
    background: url('../img/background-login.jpg') center/cover no-repeat;
    color: white;
    position: sticky;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

#home_texto {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 100px;
}

#home_texto h1 {
    font-size: 50px;
    font-weight: bold;
    position: sticky;
    z-index: 1;
    text-shadow: 0 0 4px black;
}

#home_texto span {
    color: #007BFF;
    text-shadow: 0 0 4px black;
    font-size: 85px;
    font-weight: bold;
    position: sticky;
}

#home_texto p {
    font-size: 22px;
    position: relative;
    z-index: 1;
}

#home_texto .saiba_mais {
    padding: 10px 20px;
    margin-top: 30px;
    background-color: #0056b3;
    color: white;
    border-radius: 20px;
    position: sticky;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

#home_texto .saiba_mais:hover {
    background-color:#0057b37c;
}

/* Estilização para a seção sobre */
#sobre {
    background: linear-gradient(180deg, white, #00356d3d);
    padding: 50px 20px;
    text-align: center;
    width: 100%;
}

.sobre-container {
    max-width: 1100px;
    margin: 0 auto;
}

.sobre-container h2 {
    font-size: 36px;
    color: #00356d;
    margin-bottom: 20px;
}

.sobre-container p {
    font-size: 18px;
    color: #555;
}


/* MODAL */
/* Modal */
.modal {
    display: none; /* Inicia escondido */
    position: fixed; /* Fixa o modal na tela */
    z-index: 1000; /* Garantir que o modal fique sobre outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Fundo semi-transparente */
    padding-top: 60px;
}

/* Conteúdo do modal */
.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%; /* Ajuste o tamanho do modal */
}

/* Estilo para o botão de fechar */
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    right: 10px;
    top: 1px;
    cursor: pointer;
    float: right;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}



/* RODAPÉ */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00356d;
    padding: 15px;
    width: 100%;
}

.footer p {
    color: white;
}



@media (max-width: 768px) {
    #sobre {
        flex-direction: column;
        text-align: center;
    }

    #sobre-text {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background: #000;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .navbar .logo {
        width: 155px;
    }

    .navbar ul.show {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
}