@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, black, black, black, black, rgba(0, 0, 0, 0));
    position: absolute;
    z-index: 1;
    color: #fff;
    padding: 15px;
    width: 100%;
}

.navbar .logo {
    max-width: 250px;
    margin-left: 30px;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-right: 60px;
    margin-left: 60px;
    list-style: none;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.navbar ul li a:hover {
    color: #007BFF;
}

.navbar .usuario {
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar #nome_usuario {
    background-color: #007BFF;
    color: #fff;
    padding: 8px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
    transition: 0.2s ease-in-out;
}

.navbar #nome_usuario:hover {
    background-color: #007bff7c;
}

.navbar #entrar {
    color: white;
    text-decoration: none;
    padding: 2px 20px;
    background-color: #0056b3;
    border-radius: 20px;
    margin-right: 60px;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

#logout {
    max-width: 40px;
    cursor: pointer;
    margin-right: 20px
}


/* CONTEÚDO */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    text-align: center;
    background: url('../img/background-login.jpg') center/cover no-repeat;
    color: white;
    position: sticky;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

#home_texto {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 100px;
}

#home_texto h1 {
    font-size: 50px;
    font-weight: bold;
    position: sticky;
    z-index: 1;
    text-shadow: 0 0 4px black;
}

#home_texto span {
    color: #007BFF;
    text-shadow: 0 0 4px black;
    font-size: 85px;
    font-weight: bold;
    position: sticky;
}

#home_texto p {
    font-size: 22px;
    position: relative;
    z-index: 1;
}

#home_texto .saiba_mais {
    padding: 10px 20px;
    margin-top: 30px;
    background-color: #0056b3;
    color: white;
    border-radius: 20px;
    position: sticky;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

#home_texto .saiba_mais:hover {
    background-color: #0057b37c;
}

#sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(360deg, white, #00356d3d);
    width: 100%;
    height: 90vh;
}

#sobre_text {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    width: 800px;
    height: 450px;
    margin-right: 100px;
}

#sobre_text h1 {
    text-align: end;
    font-size: 40px;
    font-weight: bold;
    color: #222;
}

#sobre_text h1 span {
    color: #007BFF;
    font-style: italic;
}

#sobre_text h2 {
    font-size: 20px;
    color: #555;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#sobre_text p {
    font-size: 21px;
    line-height: 1.5;
    color: #555;
    margin: 20px 0;
}

#sobre_text .saiba_mais {
    padding: 10px 20px;
    margin-top: 30px;
    background-color: #0056b3;
    color: white;
    border-radius: 20px;
    position: sticky;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

#sobre_text .saiba_mais:hover {
    background-color: #00356d;
}

/* SERVIÇOS */
#servicos {
    background: linear-gradient(180deg, white, #00356d);
    padding: 50px 0;
    text-align: center;
}

#servicos h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

#servicos h1 span {
    color: #007BFF;
    font-style: italic;
    transition: 0.5s ease-in-out;
}

#servicos h1 span:hover {
    text-shadow: 2px 2px 1px #00356d88;
}

#servicos_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 70px;
    margin: 0 auto;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: 0.1s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 15px #00356d88;
}

/* BOTÃO "VER TODAS AS AULAS" */
.botao-container {
    margin-top: 30px;
}

.botao-ver-mais {
    display: inline-block;
    padding: 15px 25px;
    background-color: #007BFF;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}

.botao-ver-mais:hover {
    background-color: #0056b3;
}


.card img {
    max-width: 120px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.1s ease-in-out;
}

.card:hover img {
    filter: drop-shadow(5px 5px 0px #00356d);
}

.card h3 {
    margin-top: 15px;
    font-size: 22px;
    color: #000;
}

.card p {
    font-size: 16px;
    color: #555;
}

/* RODAPÉ */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00356d;
    padding: 15px;
    width: 100%;
}

.footer p {
    color: white;
}

@media (max-width: 768px) {

    .navbar .logo {
        max-width: 250px;
        margin-left: 15px;
        margin-top: 10px;
    }

    .navbar #nome_usuario {
        padding: 2px 8px;
        margin-left: 20px
    }


    .navbar #entrar {
        margin: 0;
    }

    #home_texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    #home_texto h1 {
        font-size: 40px;
    }

    #home_texto span {
        font-size: 50px;
    }

    #home_texto p {
        font-size: 18px;
    }

    #sobre {
        flex-direction: column;
        text-align: center;
    }

    #sobre_text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: auto;
        height: auto;
        margin-right: auto;
        margin-top: 40px;
    }

    #sobre_text h1 {
        text-align: center;
    }

    #sobre_text p {
        padding: 30px;
        margin: 0;
    }

    #sobre_text .saiba_mais {
        margin-bottom: 40px;
    }

    .img-sobre {
        width: 250px;
    }

    #servicos_container {
        grid-template-columns: none;
    }

    .footer p {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .navbar ul {
        visibility: hidden;
        opacity: 0;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        background: linear-gradient(180deg, black, black, black, black, rgba(0, 0, 0, 0));
        width: 100%;
        text-align: center;
        padding: 10px 0;
        transition: visibility 0s 0.5s, opacity 0.5s ease-in-out;
    }

    .navbar .logo {
        width: 155px;
    }

    .navbar ul.show {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s 0s, opacity 0.5s ease-in-out;
    }

    .navbar ul.hide {
        animation: slideOut 0.5s ease-in-out forwards;
    }

    .menu-icon {
        display: block;
        margin-right: 30px;
    }

    .navbar ul li {
        margin-top: 10px;
        margin-bottom: 10px;
        list-style: none;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-20px);
        opacity: 0;
    }
}