.section-title {
    color: #007bff;
    margin-bottom: 20px;
}

.feature-icon {
    font-size: 40px;
    color: #007bff;
}

.feature-box {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.feature-box:hover {
    transform: scale(1.05);
}

.feature-box h4 {
    margin-top: 10px;
    font-weight: bold;
}

.about-img {
    max-width: 100%;
    border-radius: 8px;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-text {
    flex: 1;
    padding: 20px;
}

.about-image {
    flex: 1;
    padding: 20px;
}

.testimonial-carousel img {
    max-width: 80px;
    border-radius: 50%;
    margin-right: 15px;
}

.testimonial {
    text-align: center;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.testimonial p {
    font-style: italic;
}

/* Estilo geral da caixa */
.service-box {
    position: relative;
    height: 250px;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Overlay (camada de opacidade) */
.service-box .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    /* Opacidade inicial */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Efeito de hover na caixa */
.service-box:hover .overlay {
    opacity: 1;
    /* Mostra a overlay quando o mouse passa por cima */
}

/* Títulos e textos */
.service-box h4 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.service-box p {
    font-size: 16px;
}

img {
width: 100px;
height: 100px;
margin-right: 10px;
border-radius: 50%;
object-fit: cover;
background-color: white;
}

.nav-item {
margin-right: 40px;
}